<div class="cards-container">
  <div class="table-card">
    <h3><%= @venue.name %></h3></br>
    <p> Address: <%= @venue.location %></p></br>
    <p> <a href="<%= @venue.website %>">Yelp for <%=@venue.name%></a></p></br>
    <% if current_user.try(:admin?) %>
      <%= link_to "Delete Venue", admin_venue_path(@venue), method: :delete %></br>
    <% end %>
    <img src="<%=@venue.photo%>">
    </br>
    <% @reviews.each do |review| %>
      <div class="review">
        <i class="material-icons">account_circle</i><h5> <%= review.user.first_name %></h5></br>
        Rating: <%= review.rating %></br></br>
        <%= review.body %></br></br>
        <%= review.created_at.strftime("%B %d %Y") %></br>
        <p id="score_<%=review.id%>">
          Score: <%= review.score %></br>
        <button id="<%=review.id%>" class="upvote">
          <i class="material-icons md-18 black6000">thumb_up</i>
        </button>
        <button id="<%=review.id%>" class="downvote">
          <i class="material-icons md-18 green6000">thumb_down</i>
        </button>
        <% if review.user == current_user || current_user.try(:admin?) %>
          </br>
          <%= link_to "Delete Review", venue_review_path(review.venue, review), method: :delete %>
          </br>
          <%= link_to "Edit Review", edit_venue_review_path(review.venue, review) %>
          </br>
        <% end %>
      </div>
    <% end %>
    <%= link_to "Add a Review",  new_venue_review_path(@venue), class: "button"%>
  </div>
</div>
